---
on:
  push:
    branches:
      - master
jobs:
  test_action:
    name: Test this action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Base
        uses: actions/checkout@v4

      - name: Run action
        id: run_action
        uses: beiertu-mms/yamllint-composite-action@master
        with:
          files_or_dirs: .github/test
          config_data: '{extends: default, rules: {line-length: {max: 120}}}'

      - name: Output
        run: echo "${{ steps.run_action.outputs.lint_output }}"
